@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

:root{

    font-size: 1rem;

    --mainColor: #FFDE22;
    --bgColor: #282828;

    --textColorDark: #282828;
    --textColorGray: #8c8c8c;
    --textColorLight: #FFF;

    --title: 1.8rem;
    --normalText: 1rem;
    --smallText: 0.85rem;

    --stageTitle: 2.5rem;
    --stageSubtitle: 1.5rem;
    --button: 1.1rem;

}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--bgColor);
    color: var(--textColorLight);
    font-size: var(--normalText);
    min-height: 100vh;
}

a{
    color: var(--textColorLight);
    text-decoration: underline;
}

a:hover{
    color: var(--textColorLight);
    font-weight: 700;
}

.navbar-inverse{
    background-color: var(--mainColor);
    border: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: var(--textColorDark);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: var(--textColorDark);
    background-color: #E8CA1F;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
    color: var(--textColorDark);
    background-color: #E8CA1F;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    color: var(--textColorDark);
    background-color: var(--mainColor);
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
    color: var(--textColorDark);
    text-decoration: none;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover{
    color: var(--textColorDark);
    background-color: #E8CA1F;
}

.glyphicon{
    margin-right: .25rem;
}

.glyphicon-search{
    margin-right: 0;
    margin-left: .25rem;
    color: var(--textColorLight);
}

.form-control{
    height: auto;
    padding: .5rem 1.5rem;

    font-size: var(--normalText);

    color: var(--textColorLight);
    background-color: rgba(255, 255, 255, 0.12);
    border: none;
    border-radius: 10rem;
}

.list-group-item{
    background-color: rgba(255, 255, 255, 0.12);
    border: none;
}

.btn{
    padding: .5rem 2rem;
    font-size: var(--normalText);
    text-transform: uppercase;
    font-weight: 700;
    line-height: auto;
    border-radius: 10rem;

}

.btn:hover{
    background-color: #E8CA1F;
    color: var(--textColorDark);
}

.btn-primary{
    background-color: var(--mainColor);
    color: var(--textColorDark);
    border: none;
    margin-bottom: 4rem;
}

.list-group{
    padding-right: 0;
    margin-bottom: 2rem;
}

#queue{
    overflow-y: scroll;
    max-height: 40%;
    margin-bottom: 4rem;
}

.btn-default{
    background-color: var(--mainColor);
    color: var(--textColorDark);
    border: none;
    font-size: var(--normalText);
}

.btn-danger, .btn-success{
    width: 100%;
    margin-top: 1rem;
    color: var(--textColorDark);
    border: none;
    font-size: var(--normalText);
}

.btn-success{
    background-color: #8BB174;
}

.btn-success:hover{
    background-color: #7FA16A;
}

.btn-danger{
    background-color: #E8001F;
}

.btn-danger:hover{
    background-color: #D1001C;
}

#newRes{
    padding: 1rem;
}

#loginBTN, #registerBTN{
    margin-bottom: 1rem;
}